@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}


html {

	font-size: 62.5%;

}

.bg-color {
	background-color: #E02927;
}



h1, h2, h3 {
	color: #F6921E;
	margin: 1rem;
}

nav ul {
	list-style: none;
	display: inline-block;

}

nav ul li {
	font-size: 2rem;
	display: inline-block;
	margin-top: -1rem;
	margin-right: 2rem;
	vertical-align: middle;

}

nav ul li a {
	text-decoration: none;
	color: black;

}

main {
	padding: 2rem;
	margin: 10px auto;
}

.fondoGris {
	background-color: grey;
}


.textCenter {
	text-align: center;
	font-size: 2rem;
	cursor:pointer;

}

.textCenter:hover {
	color: #E02927;

}



.divi {
	height: 100px;
	width: 100px;
	margin: auto;
}

.tamanoFoto {
	height: auto;
	width: 200px;

}

.imgFooter {
	height: 50px;
	width: 50px;

}

section {
	height: auto;
	margin: 2rem;
	padding: 2rem 2rem;
	font-size: 2rem;
}




/* Donde comprar - Centrar */

.centrar {
	display: flex;
	justify-content: space-around;
	margin: 24px;
}

/* flex responsive
.nav-productos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
} */

.nav-productos {
	display: grid;
	gap: 1rem;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));


}