// Variables Globales

$PrimerColor: #e02927;
$SegundoColor: #f6921e;
$TercerColor: black;
$ColorFondo: hsl(0, 0%, 50%);

//sizing
$w-100: 100%;
$w-75: 75%;
$w-50: 50%;
$w-25: 25%;

//Fonts

$textSM: 24px;

$paleta: (
  "uno": #e02927,
  "dos": #f6921e,
  "tres": black,
  "cuatro": hsl(0, 0%, 50%),
);
